@font-face {
  font-family: roboto;
  src: url("./Roboto (7)/400");
}
body {
  background-color: rgb(229, 228, 228);
}

.container {
  max-width: 1600px;
  height: 5738px;
  margin: 0 auto;
  background-color: white;
}
.container .header {
  width: 1600px;
  height: 862px;
  background-color: rgba(242, 206, 218, 0.4039215686);
}
.container .header header {
  width: 1125px;
  height: 79px;
  position: relative;
  top: 10px;
}
.container .header header .header_logo {
  width: 79px;
  height: 79px;
  top: 10px;
  left: 245px;
  cursor: pointer;
  position: absolute;
}
.container .header header .te_home1 {
  width: 41px;
  height: 18px;
  position: absolute;
  top: 41px;
  left: 590px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #150101;
  font-family: roboto;
  src: url("../style/Roboto (7)/400");
}
.container .header header .te_home1:hover {
  color: #D23166;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.container .header header .te_Product1 {
  width: 49px;
  height: 16px;
  position: absolute;
  top: 42px;
  left: 671px;
  opacity: 0.6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #150101;
  font-family: roboto;
  src: url("../style/Roboto (7)/400");
}
.container .header header .te_Product1:hover {
  color: #D23166;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.container .header header .te_Pricing {
  width: 44px;
  height: 16px;
  position: absolute;
  top: 42px;
  left: 760px;
  opacity: 0.6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #150101;
  src: url("../style/Roboto (7)/400");
}
.container .header header .te_Pricing:hover {
  color: #D23166;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.container .header header .te_Testimonials1 {
  width: 80px;
  height: 16px;
  position: absolute;
  top: 42px;
  left: 844px;
  opacity: 0.6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #150101;
  src: url("../style/Roboto (7)/400");
}
.container .header header .te_Testimonials1:hover {
  color: #D23166;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.container .header header .te_ContactUs1 {
  width: 69px;
  height: 16px;
  top: 42px;
  left: 964px;
  opacity: 0.6px;
  position: absolute;
  color: #150101;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-family: roboto;
  src: url("../style/Roboto (7)/400");
}
.container .header header .te_ContactUs1:hover {
  color: #D23166;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.container .header header .btn > button {
  width: 165px;
  height: 49px;
  position: absolute;
  top: 25px;
  left: 1105px;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #D23166;
}
.container .header header .btn > button:hover {
  color: red;
  width: 165px;
  height: 49px;
  background-color: white;
  border: 1px solid red;
  cursor: pointer;
  transition: 1s;
}
.container main {
  width: 665px;
  height: 364px;
  position: relative;
  top: 185px;
  left: 254px;
  border-radius: 5px;
}
.container main .main_tex1 {
  width: 172px;
  height: 16px;
  position: absolute;
  top: -25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.container main .main_tex2 {
  width: 640px;
  height: 130px;
  position: absolute;
  font-size: 57px;
  font-weight: 400;
  line-height: 69px;
  font-size: 57px;
  font-weight: 500;
  line-height: 69px;
}
.container main .main_tex2 strong {
  color: #D23166;
}
.container main .main_tex3 {
  width: 523px;
  height: 78px;
  top: 172px;
  position: absolute;
  font-weight: 400;
  line-height: 27px;
}
.container main .main_tex4 > button {
  width: 165px;
  height: 49px;
  position: absolute;
  top: 300px;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  background-color: #D23166;
}
.container main .main_tex4 > button:hover {
  color: red;
  width: 165px;
  height: 49px;
  background-color: white;
  border: 1px solid red;
  cursor: pointer;
  transition: 1s;
}
.container main .main_img {
  width: 894.68px;
  height: 742.36px;
  position: absolute;
  top: -78px;
  left: 362px;
}
.container main .main-div {
  width: 1117px;
  height: 200px;
  position: relative;
  top: 762px;
  border-radius: 7px;
  border: 1px;
}
.container main .main-div .main-div1 {
  width: 250px;
  height: 200px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(217, 216, 216);
  border-radius: 7px;
  transition: 1s;
}
.container main .main-div .main-div1:hover {
  box-shadow: 0px 0px 10px 10px rgb(143, 231, 239);
  cursor: pointer;
}
.container main .main-div .main-img {
  width: 51px;
  height: 43.35px;
  position: absolute;
  top: 33px;
  left: 99px;
}
.container main .main-div .main-img_tex {
  width: 122px;
  height: 28px;
  top: 101px;
  left: 61px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.container main .main-div .main-img_tex1 {
  width: 198px;
  height: 35px;
  position: absolute;
  top: 138px;
  left: 26px;
  color: #787777;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.container main .main-div .div1 {
  width: 250px;
  height: 200px;
  left: 301px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(217, 216, 216);
  border-radius: 7px;
  transition: 1s;
}
.container main .main-div .div1:hover {
  box-shadow: 0px 0px 10px 10px rgb(143, 231, 239);
  cursor: pointer;
}
.container main .main-div .main-img {
  width: 51px;
  height: 43.35px;
  position: absolute;
  top: 33px;
  left: 99px;
}
.container main .main-div .main-img_tex {
  width: 222px;
  height: 28px;
  top: 101px;
  left: 61px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.container main .main-div .main-img_tex1 {
  width: 198px;
  height: 35px;
  position: absolute;
  top: 138px;
  left: 26px;
  color: #787777;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.container main .main-div .bosh_div {
  width: 250px;
  height: 200px;
  left: 601px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(217, 216, 216);
  border-radius: 7px;
  transition: 1s;
}
.container main .main-div .bosh_div:hover {
  box-shadow: 0px 0px 10px 10px rgb(143, 231, 239);
  cursor: pointer;
}
.container main .main-div .main-rasm {
  width: 51px;
  height: 43.35px;
  position: absolute;
  top: 33px;
  left: 99px;
}
.container main .main-div .ma-tex {
  width: 222px;
  height: 28px;
  top: 100px;
  left: 44px;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}
.container main .main-div .ttex2 {
  width: 198px;
  height: 35px;
  position: absolute;
  top: 137px;
  left: 26px;
  color: #787777;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.container main .main-div .div1 {
  width: 250px;
  height: 200px;
  left: 301px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(217, 216, 216);
  border-radius: 7px;
  transition: 1s;
}
.container main .main-div .div1:hover {
  box-shadow: 0px 0px 10px 10px rgb(143, 231, 239);
  cursor: pointer;
}
.container main .main-div .main-img {
  width: 51px;
  height: 43.35px;
  position: absolute;
  top: 33px;
  left: 99px;
}
.container main .main-div .main-img_tex {
  width: 222px;
  height: 28px;
  top: 101px;
  left: 61px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.container main .main-div .main-img_tex1 {
  width: 198px;
  height: 35px;
  position: absolute;
  top: 138px;
  left: 26px;
  color: #787777;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.container main .main-div .bosh_div2 {
  width: 250px;
  height: 200px;
  left: 901px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgb(217, 216, 216);
  border-radius: 7px;
  transition: 1s;
}
.container main .main-div .bosh_div2:hover {
  box-shadow: 0px 0px 10px 10px rgb(143, 231, 239);
  cursor: pointer;
}
.container main .main-div .main-rasm2 {
  width: 51px;
  height: 43.35px;
  position: absolute;
  top: 33px;
  left: 99px;
}
.container main .main-div .ma-tex2 {
  width: 222px;
  height: 28px;
  top: 101px;
  left: 61px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.container main .main-div .ma-tex3 {
  width: 198px;
  height: 35px;
  position: absolute;
  top: 138px;
  left: 26px;
  color: #787777;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}/*# sourceMappingURL=main.css.map */